<div class="container">
  <h2>Basic Table</h2>
  <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox" (keyup)="globalSearch();">
<p></p>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let key of header;index as i;" (click)="sorting(key, i);">{{key.name}}
          <i *ngIf="gridData.sorting && key.sort == 'default'" class="fa fa-sort" aria-hidden="true" style="float: right;color: #00000054;"></i>
          <i *ngIf="headerName === key && key.sort == 'asc'" class="fa fa-sort-asc" aria-hidden="true" style="float: right;"></i>
          <i *ngIf="headerName === key && key.sort == 'dsc'" class="fa fa-sort-desc" aria-hidden="true" style="float: right;"></i>
        </th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let rowData of pagedItems">
        <td *ngFor="let key of header">{{rowData[key.name]}}</td>
      </tr>
    </tbody>
  </table>
  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <a (click)="setPage(1)" class="page-link">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
        <a (click)="setPage(page)" class="page-link">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
    </li>
</ul>
</div>
