<div class="container">
  <h2>Basic Table</h2>
  <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox" (keyup)="globalSearch();">
<p></p>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let key of header" (click)="sorting($event,key);">{{key}}
          <i *ngIf="headerName === key" class="fa fa-arrow-up" aria-hidden="true" style="float: right;"></i></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let rowData of pagedItems">
        <td *ngFor="let key of gridData.keys">{{rowData[key]}}</td>
      </tr>
    </tbody>
  </table>
  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <a (click)="setPage(1)" class="page-link">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
        <a (click)="setPage(page)" class="page-link">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
    </li>
</ul>
</div>
